/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 3rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* SearchBar Styles */
.SearchBar {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.SearchInput,
.VehicleInput,
.DateRangeInput,
.SearchButtons {
  margin: 5px;
}

.SearchInput input,
.VehicleInput select,
.DateRangeInput input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.DateRangeInput span {
  margin: 0 10px;
}

.SearchButtons button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.SearchButtons button:hover {
  background-color: #2980b9;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .SearchInput input,
  .VehicleInput select,
  .DateRangeInput input,
  .SearchButtons button {
    width: 100%; /* Make inputs and buttons full-width on smaller screens */
  }
}

.AlertList {
  margin-top: 20px;
}

.Alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.AlertDetails {
  flex-grow: 1;
}

.ActionButtons {
  margin-left: 10px;
}

.Alert button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Alert button:hover {
  background-color: #2980b9;
}
